.icon-invalid {
  color:  #ff2851;
  position: absolute;
  right: 15px;
  top: 45%;
  transform: translateY(-58%);
  font-size: 22px;
}

.icon-valid {
  color: #2ecc71;
  position: absolute;
  right: 13px;
  top: 44%;
  transform: translateY(-50%);
  font-size: 22px;
}



